<% content_for :title, "Front Page" %>
<%= turbo_frame_tag "new_post", src: new_post_path %>

<h1> Your Timeline </h1>
<div id="posts" class="col g10 center">
  <% @posts.each do |post| %>
    <%= render partial: "posts/post", locals: {post: post, is_comment: false} %>
  <% end %>
</div>
